<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>Smile Customer Portal</display-name>
    <welcome-file-list>
        <welcome-file>Account.action</welcome-file>
    </welcome-file-list>
    <filter>
        <display-name>Smile Utility Filter</display-name>
        <filter-name>SmileUtilityFilter</filter-name>
        <filter-class>com.smilecoms.commons.filter.SmileUtilityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SmileUtilityFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SmileUtilityFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>Interceptor.Classes</param-name>
            <param-value>com.smilecoms.commons.filter.XSSInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.smilecoms.scp</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>com.smilecoms.scp,com.smilecoms.commons.stripes</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCPInitialiser</servlet-name>
        <servlet-class>com.smilecoms.scp.helpers.SCPInitialiser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/error_pages/scp_no_jaas_permissions.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_pages/scp_show_unhandled_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_pages/scp_show_unhandled_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error_pages/scp_sca_down_error.html</location>
    </error-page>
    
    
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <url-pattern>/Login.action</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.action</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Customer</role-name>
            <role-name>Staff</role-name>
            <role-name>Promo1</role-name>
            <role-name>Promo2</role-name>
            <role-name>Promo3</role-name>
            <role-name>Promo4</role-name>
            <role-name>Promo5</role-name>
            <role-name>Promo6</role-name>
            <role-name>Promo7</role-name>
            <role-name>Promo8</role-name>
            <role-name>Promo9</role-name>
            <role-name>Promo10</role-name>
            <role-name>SCPBundleTester1</role-name>
            <role-name>SCPBundleTester2</role-name>
            <role-name>SCPBundleTester3</role-name>
            <role-name>SCPBundleTester4</role-name>
            <role-name>SCPBundleTester5</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SCARealm</realm-name>
        <form-login-config>
            <form-login-page>/Login.action</form-login-page>
            <form-error-page>/error_pages/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Customer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Staff</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo1</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo2</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo3</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo4</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo5</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo6</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo7</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo8</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo9</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Promo10</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SCPBundleTester1</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SCPBundleTester2</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SCPBundleTester3</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SCPBundleTester4</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SCPBundleTester5</role-name>
    </security-role>
    
</web-app>
