<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TRAInitialiser</servlet-name>
        <servlet-class>com.smilecoms.tra.helpers.TRAInitialiser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TRAServlet</servlet-name>
        <servlet-class>com.smilecoms.tra.TRAServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TRAServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UCCServlet</servlet-name>
        <servlet-class>com.smilecoms.tra.UCCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UCCServlet</servlet-name>
        <url-pattern>/ucc/getbynin</url-pattern>
    </servlet-mapping>
</web-app>
