<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.smilecoms.sep.helpers.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetImageDataServlet</servlet-name>
        <servlet-class>com.smilecoms.sep.helpers.GetImageDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetImageDataServlet</servlet-name>
        <url-pattern>/GetImageDataServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SpeedTestServlet</servlet-name>
        <servlet-class>com.smilecoms.sep.helpers.SpeedTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpeedTestServlet</servlet-name>
        <url-pattern>/SpeedTestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadServlet</servlet-name>
        <servlet-class>com.smilecoms.sep.helpers.LoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/LoadServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>Smile Utility Filter</display-name>
        <filter-name>SmileUtilityFilter</filter-name>
        <filter-class>com.smilecoms.commons.filter.SmileUtilityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SmileUtilityFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>Interceptor.Classes</param-name>
            <param-value>com.smilecoms.commons.filter.XSSInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.smilecoms.sep</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>com.smilecoms.sep,com.smilecoms.commons.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>FileUpload.MaximumPostSize</param-name>
            <param-value>21m</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SEPInitialiser</servlet-name>
        <servlet-class>com.smilecoms.sep.helpers.SEPInitialiser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/error_pages/no_jaas_permissions.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_pages/show_unhandled_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_pages/show_unhandled_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error_pages/sca_down_error.html</location>
    </error-page>
    <error-page>
        <error-code>444</error-code>
        <location>/error_pages/multiple_machine_access_error.jsp</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <url-pattern>/Login.action</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.action</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Role01</role-name>
            <role-name>Role02</role-name>
            <role-name>Role03</role-name>
            <role-name>Role04</role-name>
            <role-name>Role05</role-name>
            <role-name>Role06</role-name>
            <role-name>Role07</role-name>
            <role-name>Role08</role-name>
            <role-name>Role09</role-name>
            <role-name>Role10</role-name>
            <role-name>Role11</role-name>
            <role-name>Role12</role-name>
            <role-name>Role13</role-name>
            <role-name>Role14</role-name>
            <role-name>Role15</role-name>
            <role-name>Role16</role-name>
            <role-name>Role17</role-name>
            <role-name>Role18</role-name>
            <role-name>Role19</role-name>
            <role-name>Role20</role-name>
            <role-name>Role21</role-name>
            <role-name>Role22</role-name>
            <role-name>Role23</role-name>
            <role-name>Role24</role-name>
            <role-name>Role25</role-name>
            <role-name>Role26</role-name>
            <role-name>Role27</role-name>
            <role-name>Role28</role-name>
            <role-name>Role29</role-name>
            <role-name>Role30</role-name>
            <role-name>Role31</role-name>
            <role-name>Role32</role-name>
            <role-name>Role33</role-name>
            <role-name>Role34</role-name>
            <role-name>Role35</role-name>
            <role-name>Role36</role-name>
            <role-name>Role37</role-name>
            <role-name>Role38</role-name>
            <role-name>Role39</role-name>
            <role-name>Role40</role-name>
            <role-name>Role41</role-name>
            <role-name>Role42</role-name>
            <role-name>Role43</role-name>
            <role-name>Role44</role-name>
            <role-name>Role45</role-name>
            <role-name>Role46</role-name>
            <role-name>Role47</role-name>
            <role-name>Role48</role-name>
            <role-name>Role49</role-name>
            <role-name>Role50</role-name>
            <role-name>Role51</role-name>
            <role-name>Role52</role-name>
            <role-name>Role53</role-name>
            <role-name>Role54</role-name>
            <role-name>Role55</role-name>
            <role-name>Role56</role-name>
            <role-name>Role57</role-name>
            <role-name>Role58</role-name>
            <role-name>Role59</role-name>
            <role-name>Role60</role-name>
            <role-name>Role60</role-name>
            <role-name>Role61</role-name>
            <role-name>Role62</role-name>
            <role-name>Role63</role-name>
            <role-name>Role64</role-name>
            <role-name>Role65</role-name>
            <role-name>Role66</role-name>
            <role-name>Role67</role-name>
            <role-name>Role68</role-name>
            <role-name>Role69</role-name>
            <role-name>Role70</role-name>
            <role-name>Role71</role-name>
            <role-name>Role72</role-name>
            <role-name>Role73</role-name>
            <role-name>Role74</role-name>
            <role-name>Role75</role-name>
            <role-name>Role76</role-name>
            <role-name>Role77</role-name>
            <role-name>Role78</role-name>
            <role-name>Role79</role-name>
            <role-name>Role80</role-name>
            <role-name>Role81</role-name>
            <role-name>Role82</role-name>
            <role-name>Role83</role-name>
            <role-name>Role84</role-name>
            <role-name>Role85</role-name>
            <role-name>Role86</role-name>
            <role-name>Role87</role-name>
            <role-name>Role88</role-name>
            <role-name>Role89</role-name>
            <role-name>Role90</role-name>
            <role-name>Role91</role-name>
            <role-name>Role92</role-name>
            <role-name>Role93</role-name>
            <role-name>Role94</role-name>
            <role-name>Role95</role-name>
            <role-name>Role96</role-name>
            <role-name>Role97</role-name>
            <role-name>Role98</role-name>
            <role-name>Role99</role-name>
            <role-name>Role100</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SCARealm</realm-name>
        <form-login-config>
            <form-login-page>/Login.action</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Role01</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role02</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role03</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role04</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role05</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role06</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role07</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role08</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role09</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role10</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role11</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role12</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role13</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role14</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role15</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role16</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role17</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role18</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role19</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role20</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role21</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role22</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role23</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role24</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role25</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role26</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role27</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role28</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role29</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role30</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role31</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role32</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role33</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role34</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role35</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role36</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role37</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role38</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role39</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role40</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role41</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role42</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role43</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role44</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role45</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role46</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role47</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role48</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role49</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role50</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role51</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role52</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role53</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role54</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role55</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role56</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role57</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role58</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role59</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role60</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role61</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role62</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role63</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role64</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role65</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role66</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role67</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role68</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role69</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role70</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role71</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role72</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role73</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role74</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role75</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role76</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role77</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role78</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role79</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role80</role-name>
    </security-role> 
    <security-role>
        <description/>
        <role-name>Role81</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role82</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role83</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role84</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role85</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role86</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role87</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role88</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role89</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role90</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role91</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role92</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role93</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role94</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role95</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role96</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role97</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role98</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role99</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Role100</role-name>
    </security-role>
</web-app>
